<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
    <div th:fragment="centralDiv">

        <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <h2>Knjige</h2>
        <a class="link-button" href="../Knjige">Nazad na pregled knjiga</a><br>
        <p th:text="${'Ulogovan je: ' + user.userName}"></p>
        <p th:text="${'Tip korisnika: ' + user.userType}"></p><br>
        <a class="link-button" href="../Korisnici/Logout">Odjavi se</a><br>

        <div class="create-container">
            <h3>Dodavanje knjige</h3>
            <form method="post" action="Dodaj">
                <table class="forma">
                    <tr><th>Naziv knjige: </th><td><input type="text" name="name"/></td></tr>
                    <tr><th>ISBN(13 cifara): </th><td><input type="text" name="isbn"/></td></tr>
                    <tr><th>Izdavacka kuca: </th><td><input type="text" name="publisher"/></td></tr>
                    <tr><th>Autor(i): </th><td><input type="text" name="authors"/></td></tr>
                    <tr><th>Datum izdavanja:</th><td><input type="date" name="released"/></td></tr>
                    <tr><th>Opis:</th><td><input type="textbox" name="description"/></td></tr>
                    <tr><th>URL do slike:</th><td><input type="text" name="picture"/></td></tr>
                    <tr><th>Broj strana:</th><td><input type="number" name="pages"/></td></tr>

                    <tr><th> Tip proizvoda </th>
                        <td scope="row">
                            <select name="coverType">
                                <option value="HARD">HARD</option>
                                <option value="SOFT">SOFT</option>
                            </select>
                    </tr></td>"
                    <tr><th> Pismo </th>
                        <td scope="row">
                            <select name="letterType">
                                <option value="LATIN">LATIN</option>
                                <option value="CYRILIC">CYRILIC</option>
                            </select>
                    </tr></td>

                    <tr><th>Jezik:</th><td><input type="text" name="language"/></td></tr>
                    <tr><th>Cena:</th><td><input type="number" name="price"/></td></tr>
                    <tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
                </table>
            </form>
        </div>

    </div>
</body>
</html>