<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
    <div th:fragment="centralDiv">

        <link href="../css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="title navbar-brand" href="#">Knjigerino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../Knjige/TabelaKnjiga">Tabelarni pregled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Knjige/Dodaj">Dodaj knjigu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/Korpa">Korpa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/IstorijaKupovine">Istorija kupovina</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="#">Lista zelja</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h2>Knjige</h2>
        <a class="link-button" href="../Knjige">Nazad na pregled knjiga</a><br>
        <p th:text="${'Ulogovan je: ' + user.userName}"></p>
        <p th:text="${'Tip korisnika: ' + user.userType}"></p><br>
        <a class="link-button" href="../Korisnici/Logout">Odjavi se</a><br>

        <div th:if="${book != null}">
            <div class="create-container">
                <h3>Dodavanje knjige</h3>
                <form method="post" th:action="@{Dodaj}">
                    <table class="forma">
                        <tr>
                            <input type="hidden" name="isbn" value="0000000000000"/>
                            <td>Naziv knjige: </td>
                            <td><input type="text" name="name" th:field="*{book.name}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.name')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>Izdavacka kuca: </td>
                            <td><input type="text" name="publisher" th:field="*{book.publisher}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.publisher')}">Prazno polje</b></td>

                        </tr>

                        <tr>
                            <td>Autor(i): </td>
                            <td><input type="text" name="author" th:field="*{book.author}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.author')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>Datum izdavanja:</td>
                            <td><input type="date" name="yearOfRelease" th:field="*{book.yearOfRelease}" /></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.yearOfRelease')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>Opis:</td>
                            <td><input type="textbox" name="description" th:field="*{book.description}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.description')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>URL do slike:</td>
                            <td><input type="text" name="picture" th:field="*{book.picture}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.picture')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>Broj strana:</td>
                            <td><input type="number" name="numOfPages" min="1" th:field="*{book.numOfPages}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.numOfPages')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td> Tip proizvoda </td>
                            <td scope="row">
                                <select name="cover">
                                    <option value="HARD">HARD</option>
                                    <option value="SOFT">SOFT</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Pismo </td>
                            <td scope="row">
                                <select name="letter">
                                    <option value="LATIN">LATIN</option>
                                    <option value="CYRILIC">CYRILIC</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Jezik:</td>
                            <td><input type="text" name="language" th:field="*{book.language}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.language')}">Prazno polje</b></td>
                        </tr>

                        <tr>
                            <td>Cena:</td>
                            <td><input type="number" name="price" min="1" th:field="*{book.price}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('book.price')}">Prazno polje</b></td>
                        </tr>

                        <tr><td></td><td><input type="submit" value="Dodaj"/></td></tr>
                    </table>
                </form>
            </div>
        </div>

        <div th:if="${book == null}">
            <div class="create-container">
                <h3>Dodavanje knjige</h3>
                <form method="post" th:action="@{Dodaj}">
                    <table class="forma">
                        <tr>
                            <input type="hidden" name="isbn" value="0000000000000"/>
                            <td>Naziv knjige: </td><td><input type="text" name="name"/></td>
                        </tr>
                        <tr>
                            <td>Izdavacka kuca: </td><td><input type="text" name="publisher"/></td></tr>
                        <tr>
                            <td>Autor(i): </td><td><input type="text" name="author"/></td></tr>
                        <tr>
                            <td>Datum izdavanja:</td><td><input type="date" name="yearOfRelease"/></td></tr>
                        <tr>
                            <td>Opis:</td><td><input type="text" name="description"/></td></tr>
                        <tr>
                            <td>URL do slike:</td><td><input type="text" name="picture"/></td></tr>
                        <tr>
                            <td>Broj strana:</td><td><input type="number" name="numOfPages"/></td></tr>

                        <tr>
                            <td> Tip proizvoda </td>
                            <td scope="row">
                                <select name="cover">
                                    <option value="HARD">HARD</option>
                                    <option value="SOFT">SOFT</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Pismo </td>
                            <td scope="row">
                                <select name="letter">
                                    <option value="LATIN">LATIN</option>
                                    <option value="CYRILIC">CYRILIC</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Jezik:</td><td><input type="text" name="language"/></td>
                        </tr>
                        <tr>
                            <td>Cena:</td><td><input type="number" name="price"/></td>
                        </tr>

                        <tr><td></td><td><input type="submit" class="btnSubmit" value="Dodaj"/></td></tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
</body>
</html>