<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <title>Knjizara</title>
</head>
<body>
    <div th:fragment="centralDiv">
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="title navbar-brand" href="Knjige">Knjigerino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="Knjige/TabelaKnjiga">Tabelarni pregled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Knjige/Dodaj">Dodaj knjigu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Korisnici/">Pregled korisnika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Korisnici/LoyaltyZahtevi">Odobravanje loyalty kartica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Komentari/">Odobravanje komentara</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/Korpa">Korpa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/IstorijaKupovine">Istorija kupovina</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/ListaZelja">Lista zelja</a>
                    </li>
                    <li class="nav-item dropdown float-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <i><b>PROFIL</b></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p th:text="${'Ulogovan je: ' + user.userName}"></p>
                            <p th:text="${'Tip : ' + user.userType}"></p>
                            <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                            <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                            <form method="post" th:if="!${user.isAdmin()}" action="Kupovina/LoyaltyReq">
                                <input th:if="!${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" type="submit"
                                       class="form-control btnSubmit fadeIn fourth" value="Posalji zahtev za bonus karticu">
                            </form>
                            <div class="dropdown-divider"></div>
                            <a href="Korisnici/Logout">Odjavi se</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <form action="Knjige/Pretraga">
            <div class="container">
                <table class="table table-sm table-dark searchTable">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Naziv knjige</th>
                            <th>Autor(i)</th>
                            <th>Jezik</th>
                            <th>Min cena</th>
                            <th>Max cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="search" name="isbn"/></td>
                            <td><input type="search" name="name"/></td>
                            <td><input type="search" name="author"/></td>
                            <td><input type="search" name="language"/></td>
                            <td><input type="number" min="0" value="0" name="minPrice"/></td>
                            <td><input type="number" min="0" value="0" name="maxPrice"/></td>
                        </tr>
                    </tbody>

                    </th>
                        <th colspan="6"><input style="width: 100%;" type="submit" value="Pretraži"/></th>
                    </tr>
                </table>
            </div>
        </form>

        <section class="flex-container">

            <div class="row" style="margin-left: 4%;">

                <div th:each="itBook, status: ${books}">
                    <div class="card">
                        <img class="book-cover" th:src="${itBook.picture}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${itBook.name}"></h5>
                            <p class="card-text" th:text="${'Autor: ' + itBook.author}"></p>
                            <p class="card-text" th:text="${'Prosecna ocena: ' + itBook.rating}"></p>
                            <p class="card-text" th:if="${user.isAdmin()}" th:text="${'Preostalo : ' + itBook.remaining}"></p>
                            <h6 th:text="${'Cena: ' + itBook.price}"></h6>

                            <form method="get" action="Knjige/Detalji">
                                <input type="hidden" name="isbn" th:value="${itBook.isbn}">
                                <br>
                                <input type="submit" class="btnSubmit fadeIn fourth" value="Pregled knjige">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>

</body>
</html>