<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>

</head>
<body>
<div th:fragment="centralDiv">
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../css/js/sorttable.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="#">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Knjige/TabelaKnjiga">Tabelarni pregled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="Dodaj">Dodaj knjigu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/Korpa">Korpa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/IstorijaKupovine">Istorija kupovina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/ListaZelja">Lista zelja</a>
                </li>
            </ul>
        </div>
    </nav>

    <a class="link-button" href="../Knjige">Pregled svih knjiga</a><br>
    <h4 th:text="${'Ulogovan je: ' + user.userName}"></h4>
    <h5 th:text="${'Tip : ' + user.userType}"></h5>
    <a class="link-button" href="Korisnici/Logout">Odjavi se</a>

    <section class="flex-container">
        <div class="container">
            <table class="table table-sm table-dark sortable">
                <thead>
                <tr>
                    <th>Naziv knjige</th>
                    <th>Autor</th>
                    <th>Ocena</th>
                    <th th:if="${user.isAdmin()}">Preostalo</th>
                    <th>Cena</th>
                    <th>Pregled</th>
                </tr>
                </thead>
                <tbody>
                    <div th:each="itBook, status: ${books}">
                        <tr>
                            <td class="cart-item-text" th:text="${itBook.name}"></td>
                            <td class="cart-item-text" th:text="${itBook.getAuthor}"></td>
                            <td class="cart-item-text" th:text="${itBook.rating}"></td>
                            <td class="cart-item-text" th:if="${user.isAdmin()}" th:text="${itBook.remaining}"></td>
                            <td class="cart-item-text" th:text="${itBook.price}"></td>
                            <td>
                                <form method="get" action="Detalji">
                                    <input type="hidden" name="isbn" th:value="${itBook.isbn}">
                                    <input type="submit" class="form-control btnSubmit fadeIn fourth" value="Pregled knjige">
                                </form>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </form>
    </section>

</div>

</body>
</html>