<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>

</head>
<body>
<div th:fragment="centralDiv">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="../js/localization.js"></script>
    <script src="../js/sorttable.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="#">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="TabelaKnjiga" th:text="#{bookStore.bookTable}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="Dodaj" th:text="#{bookStore.addBook}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/" th:text="#{bookStore.users}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/LoyaltyZahtevi" th:text="#{bookStore.loyaltyCard}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Komentari/" th:text="#{bookStore.comments}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Kupovina/Izvestaj" th:text="#{bookStore.report}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/Korpa" th:text="#{bookStore.cart}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/IstorijaKupovine" th:text="#{bookStore.history}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/ListaZelja" th:text="#{bookStore.wishList}"></a>
                </li>
                <li class="nav-item float-right nav-link">
                    <p><b th:text="${user.userName}"></b></p>
                </li>
                <li class="nav-item float-right nav-link">
                    <p><i th:text="${user.userType}"></i></p>
                </li>
                <li class="nav-item nav-link" th:if="${user.isAdmin()}">
                    <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                </li>
                <li class="nav-item nav-link" th:if="${user.isAdmin()}">
                    <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" href="../Korisnici/Logout">Odjavi se</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <section class="flex-container">
        <div class="container">
            <table class="table table-sm table-dark sortable">
                <thead>
                <tr>
                    <th th:text="#{bookStore.bookName}"></th>
                    <th th:text="#{bookStore.author}"></th>
                    <th th:text="#{bookStore.rating}"></th>
                    <th th:if="${user.isAdmin()}" th:text="#{bookStore.remaining}"></th>
                    <th th:text="#{bookStore.price}"></th>
                    <th th:text="#{bookStore.view}"></th>
                </tr>
                </thead>
                <tbody>
                    <div th:each="itBook, status: ${books}">
                        <tr>
                            <td class="cart-item-text" th:text="${itBook.name}"></td>
                            <td class="cart-item-text" th:text="${itBook.getAuthor}"></td>
                            <td class="cart-item-text" th:text="${itBook.rating}"></td>
                            <td class="cart-item-text" th:if="${user.isAdmin()}" th:text="${itBook.remaining}"></td>
                            <td class="cart-item-text" th:text="${itBook.price}"></td>
                            <td>
                                <form method="get" action="Detalji">
                                    <input type="hidden" name="isbn" th:value="${itBook.isbn}">
                                    <input type="submit" class="form-control btnSubmit fadeIn fourth" th:value="#{bookStore.viewBook}">
                                </form>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </form>
    </section>

</div>

</body>
</html>