<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
<div th:fragment="centralDiv">

    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="../Knjige">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="TabelaKnjiga">Tabelarni pregled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="Dodaj">Dodaj knjigu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/">Pregled korisnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/LoyaltyZahtevi">Odobravanje loyalty kartica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Komentari/">Odobravanje komentara</a>
                </li>
                <li class="nav-item dropdown float-right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i><b>PROFIL</b></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <p th:text="${'Ulogovan je: ' + user.userName}"></p>
                        <p th:text="${'Tip : ' + user.userType}"></p>
                        <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                        <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                        <form method="post" th:if="!${user.isAdmin()}" action="../Kupovina/LoyaltyReq">
                            <input th:if="!${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" type="submit"
                                   class="form-control btnSubmit fadeIn fourth" value="Posalji zahtev za bonus karticu">
                        </form>
                        <div class="dropdown-divider"></div>
                        <a href="../Korisnici/Logout">Odjavi se</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="create-container">
        <h3>Izmena knjige</h3>
        <form method="post" th:action="@{Izmeni}">
        <table class="forma">
            <tr>
                <input type="hidden" th:value="${book.isbn}" name="isbn"/>
                <input type="hidden" th:value="${book.remaining}" name="remaining"/>
                <input type="hidden" th:value="${book.rating}" name="rating"/>
                <td>Naziv knjige: </td>
                <td><input type="text" name="name" th:value="${book.name}" th:field="*{book.name}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.name')}">Prazno polje</b></td>
            </tr>

            <tr>
                <th>Izdavacka kuca: </th>
                <td><input type="text" name="publisher" th:value="${book.publisher}" th:field="*{book.publisher}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.publisher')}">Prazno polje</b></td>
            </tr>
            <tr>
                <th>Autor(i): </th>
                <td><input type="text" name="author" th:value="${book.author}" th:field="*{book.author}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.author')}">Prazno polje</b></td>
            </tr>
            <tr>
                <th>Datum izdavanja:</th>
                <td><input type="date" name="yearOfRelease" th:value="${book.yearOfRelease}" th:field="*{book.yearOfRelease}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.yearOfRelease')}">Prazno polje</b></td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td><input type="text" name="description" th:value="${book.description}" th:field="*{book.description}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.description')}">Prazno polje</b></td>
            </tr>
            <tr>
                <th>URL do slike:</th>
                <td><input type="text" name="picture" th:value="${book.picture}" th:field="*{book.picture}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.picture')}">Prazno polje</b></td>
            </tr>
            <tr>
                <th>Broj strana:</th>
                <td><input type="number" name="numOfPages" th:value="${book.numOfPages}" th:field="*{book.numOfPages}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.numOfPages')}">Prazno polje</b></td>
            </tr>

            <tr>
            <td> Tip proizvoda </td>
            <td scope="row">
                <select name="cover">
                    <option th:selected="${#strings.equals(book.typeOfCover.toString(), 'SOFT')}">SOFT</option>
                    <option th:selected="${#strings.equals(book.typeOfCover.toString(), 'HARD')}">HARD</option>
                </select>
            </td>
        </tr>
            <tr>
                <td> Pismo </td>
                <td scope="row">
                    <select name="letter" >
                        <option th:selected="${#strings.equals(book.letter.toString(), 'LATIN')}">LATIN</option>
                        <option th:selected="${#strings.equals(book.letter.toString(), 'CYRILIC')}">CYRILIC</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>Jezik:</th>
                <td><input type="text" name="language" th:value="${book.language}" th:field="*{book.language}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.language')}">Prazno polje</b></td>
            </tr>
            <tr>
                <th>Cena:</th>
                <td><input type="number" name="price" th:value="${book.price}" th:field="*{book.price}"/></td>
                <td><b colspan="2" th:if="${#fields.hasErrors('book.language')}">Prazno polje</b></td>
            </tr>

            <tr><td></td><td><input type="submit" class="btnSubmit" value="Izmeni"/></td></tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>