<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
<div th:fragment="centralDiv">

    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="#">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Knjige/TabelaKnjiga">Tabelarni pregled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Knjige/Dodaj">Dodaj knjigu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/Korpa">Korpa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/IstorijaKupovine">Istorija kupovina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="#">Lista zelja</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>Izmena knjige</h2>
    <a href="../Knjige">Nazad na pregled knjiga</a><br>
    <p th:text="${'Ulogovan je: ' + user.userName}"></p>
    <p th:text="${'Tip korisnika: ' + user.userType}"></p>
    <a href="../Korisnici/Logout">Odjavi se</a><br>

    <div class="create-container">
        <h3>Izmena knjige</h3>
        <form method="post" action="Izmeni">
            <table class="forma">
                <tr><th>Naziv knjige: </th><td><input type="text" th:value="${book.name}" name="name"/></td></tr>
                <tr><th>ISBN(13 cifara): </th><td><input type="text" th:value="${book.isbn}" name="isbn"/></td></tr>
                <tr><th>Izdavacka kuca: </th><td><input type="text" th:value="${book.publisher}" name="publisher"/></td></tr>
                <tr><th>Autor(i): </th><td><input type="text" th:value="${book.authors}" name="authors"/></td></tr>
                <tr><th>Datum izdavanja:</th><td><input type="date" th:value="${book.yearOfRelease}" name="released"/></td></tr>
                <tr><th>Opis:</th><td><input type="textbox" th:value="${book.description}" name="description"/></td></tr>
                <tr><th>URL do slike:</th><td><input type="text" th:value="${book.picture}" name="picture"/></td></tr>
                <tr><th>Broj strana:</th><td><input type="number" th:value="${book.numOfPages}" name="pages"/></td></tr>

                <tr><th> Tip proizvoda </th>
                    <td scope="row">
                        <select name="coverType">
                            <option value="HARD" th:selected="${book.typeOfCover.toString()}">HARD</option>
                            <option value="SOFT" th:selected="${book.typeOfCover.toString()}">SOFT</option>
                        </select>
                </tr></td>"
                <tr><th> Pismo </th>
                    <td scope="row">
                        <select name="letterType">
                            <option value="LATIN" th:selected="${book.letter.toString()}">LATIN</option>
                            <option value="CYRILIC" th:selected="${book.letter.toString()}">CYRILIC</option>
                        </select>
                </tr></td>

                <tr><th>Jezik:</th><td><input type="text" th:value="${book.language}" name="language"/></td></tr>
                <tr><th>Cena:</th><td><input type="number" th:value="${book.price}" name="price"/></td></tr>
                <tr><th>Dostupnost:</th><td><input type="number" th:value="${book.remaining}" name="remaining"/></td></tr>
                <tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>