<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Knjizara</title>
</head>
<body>
<h2>Knjizara</h2>

    <div th:fragment="centralDiv" class="container login-container">
        <div class="row">
            <div class="login-form-1">
                <h3>Prijava na sistem</h3>
                <form method="post" action="Login">
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Korisnicko ime" required>
                    <br>
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Sifra" required>
                    <br>
                    <p th:text="${message}"></p>
                    <input type="submit" class="btnSubmit fadeIn fourth" value="Log In">
                </form>
            </div>
        </div>
    </div>

</body>
</html>