<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="">
    <title>Knjizara</title>
</head>
<body>

    <div th:fragment="centralDiv">

        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <h2>Glavni meni</h2>

        <p th:text="${'Ulogovan je: ' + user.userName}"></p>
        <p th:text="${'Tip korisnika: ' + user.userType}"></p><br>
        <a class="link-button" href="Korisnici/Logout">Odjavi se</a><br><br><br>
        <a class="link-button" href="Knjige">Pregled svih knjiga</a><br>
        <a class="link-button" href="">Pregled kupljenih knjiga</a>
    </div>

</body>
</html>