<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
<div th:fragment="centralDiv">

    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="#">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Knjige/TabelaKnjiga">Tabelarni pregled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${user.isAdmin()}" href="../Knjige/Dodaj">Dodaj knjigu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/Korpa">Korpa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Knjige/IstorijaKupovine">Istorija kupovina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="#">Lista zelja</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>Knjige</h2>
    <a class="link-button" href="../Knjige">Nazad na pregled knjiga</a><br>
    <p th:text="${'Ulogovan je: ' + user.userName}"></p>
    <p th:text="${'Tip korisnika: ' + user.userType}"></p><br>
    <a class="link-button" href="../Korisnici/Logout">Odjavi se</a><br>

    <div>
        <div class="create-container">
            <h3>Oceni knjigu</h3>
            <form method="post" th:action="@{ObjaviRecenziju}">
                <table class="forma">
                    <tr>
                        <input type="hidden" name="isbn" th:value="${book}"/>
                        <td>Unesite komentar : </td><td><textarea type="textarea" name="text"></textarea></td>
                    </tr>
                    <tr>
                        <td>Ocena : </td><td><input type="number" min="1" max="5" name="grade"/></td>
                    </tr>

                    <tr><td></td><td><input type="submit" class="btnSubmit" value="Ostavi recenziju"/></td></tr>
                </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>