<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
<div th:fragment="centralDiv">

    <link href="../css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="title navbar-brand" href="#">Knjigerino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Knjige/TabelaKnjiga" th:text="#{bookStore.bookTable}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/Korpa" th:text="#{bookStore.cart}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/IstorijaKupovine" th:text="#{bookStore.history}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/ListaZelja" th:text="#{bookStore.wishList}"></a>
                </li>
                <li class="nav-item dropdown float-right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i><b>PROFIL</b></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <p th:text="${'Ulogovan je: ' + user.userName}"></p>
                        <p th:text="${'Tip : ' + user.userType}"></p>
                        <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                        <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                        <form method="post" th:if="!${user.isAdmin()}" action="../Kupovina/LoyaltyReq">
                            <input th:if="!${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" type="submit"
                                   class="form-control btnSubmit fadeIn fourth" value="Posalji zahtev za bonus karticu">
                        </form>
                        <div class="dropdown-divider"></div>
                        <a href="../Korisnici/Logout">Odjavi se</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div th:if="${comment == null}">
        <div class="create-container">
            <h3 th:text="#{bookStore.leaveComment}"></h3>
            <form method="post" th:action="@{ObjaviRecenziju}">
                <table class="forma">
                    <tr>
                        <input type="hidden" name="isbn" th:value="${book}"/>
                        <td th:text="#{bookStore.comment}"></td>
                        <td><textarea type="textarea" class="form-control" name="text"></textarea></td>
                    </tr>
                    <tr>
                        <td th:text="#{bookStore.grade}"></td>
                        <td><input type="number" class="form-control" min="1" max="5" name="rating"/></td>
                    </tr>

                    <tr><td></td><td><input type="submit" class="form-control btnSubmit" value="Ostavi recenziju"/></td></tr>
                </table>
            </form>
        </div>
    </div>

    <div th:if="${comment != null}">
        <div class="create-container">
            <h3 th:text="#{bookStore.leaveComment}"></h3>
            <form method="post" th:action="@{ObjaviRecenziju}">
                <table class="forma">
                    <tr>
                        <input type="hidden" name="isbn" th:value="${book}"/>
                        <td th:text="#{bookStore.comment}"></td>
                        <td><textarea type="textarea" class="form-control" name="text"></textarea></td>
                        <td><b colspan="2" th:if="${#fields.hasErrors('comment.text')}">Prazno polje</b></td>
                    </tr>
                    <tr>
                        <td th:text="#{bookStore.grade}"></td>
                        <td><input type="number" min="1" max="5" class="form-control" name="rating"/></td>
                        <td><b colspan="2" th:if="${#fields.hasErrors('comment.rating')}">Pogresno uneta ocena</b></td>
                    </tr>

                    <tr><td></td><td><input type="submit" class="form-control btnSubmit" value="Ostavi recenziju"/></td></tr>
                </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>