<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Knjizara</title>
</head>
<body>
    <div th:fragment="centralDiv">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../css/style.css" rel="stylesheet">

        <div th:if="${client != null}">
            <div class="create-container">
                <h1 th:text="#{bookStore.register}"></h1>
                <form method="post" th:action="@{Registracija}">
                    <table class="forma">
                        <h6>Negde ste ostavili prazno polje</h6>
                        <tr>
                            <td th:text="#{bookStore.username}"></td>
                            <td><input type="text" name="userName" th:field="*{client.userName}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.userName')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.password}"></td>
                            <td><input type="text" name="password" th:field="*{client.password}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.password')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td><input type="email" name="email" th:field="*{client.email}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.email')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.name}"></td>
                            <td><input type="text" name="name" th:field="*{client.name}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.name')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.lastName}"></td>
                            <td><input type="text" name="lastName" th:field="*{client.lastName}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.lastName')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.dateOfBirth}"></td>
                            <td><input type="date" name="dateOfBirth" th:field="*{client.dateOfBirth}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.dateOfBirth')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.address}"></td>
                            <td><input type="text" name="address" th:field="*{client.address}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.address')}">Prazno polje</b></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.phone}"></td>
                            <td><input type="text" name="phone" th:field="*{client.phone}"/></td>
                            <td><b colspan="2" th:if="${#fields.hasErrors('client.phone')}">Prazno polje</b></td>
                        </tr>

                        <tr><th></th><td><input type="submit" th:value="#{bookStore.register}"/></td></tr>
                    </table>
                </form>
            </div>
        </div>



        <div th:if="${client == null}">
            <div class="create-container">
                <h1 th:text="#{bookStore.register}"></h1>
                <form method="post" th:action="@{Registracija}">
                    <table class="forma">
                        <tr>
                            <td th:text="#{bookStore.username}"></td>
                            <td><input type="text" name="userName"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.password}"></td>
                            <td><input type="text" name="password"/></td>
                        </tr>
                        <tr>
                            <th>E-mail: </th>
                            <td><input type="email" name="email"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.name}"></td>
                            <td><input type="text" name="name"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.lastName}"></td>
                            <td><input type="text" name="lastName"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.dateOfBirth}"></td>
                            <td><input type="date" name="dateOfBirth"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.address}"></td>
                            <td><input type="text" name="address"/></td>
                        </tr>
                        <tr>
                            <td th:text="#{bookStore.phone}"></td>
                            <td><input type="text" name="phone"/></td>
                        </tr>

                        <tr><th></th><td><input type="submit" class="btnSubmit" th:value="#{bookStore.register}"/></td></tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
</body>
</html>