<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet" />
    <title>Knjizara</title>
</head>
<body>
    <div class="create-container">
        <h1>Registruj se</h1>
        <form method="post" action="Registracija">
            <table class="forma">
                <tr><th>Korisnicko ime: </th><td><input type="text" name="username"/></td></tr>
                <tr><th>Sifra: </th><td><input type="text" name="password"/></td></tr>
                <tr><th>E-mail: </th><td><input type="text" name="email"/></td></tr>
                <tr><th>Ime: </th><td><input type="text" name="name"/></td></tr>
                <tr><th>Prezime:</th><td><input type="text" name="lastName"/></td></tr>
                <tr><th>Datum rodjenja:</th><td><input type="date" name="dateOfBirth"/></td></tr>
                <tr><th>Adresa:</th><td><input type="text" name="address"/></td></tr>
                <tr><th>Telefon:</th><td><input type="text" name="phone"/></td></tr>

                <tr><th></th><td><input type="submit" value="Registruj se"/></td></tr>
            </table>
        </form>

    </div>
</body>
</html>