<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
    <div class="read-more-container" th:fragment="centralDiv">

        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="title navbar-brand" href="#">Knjigerino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="Knjige/TabelaKnjiga">Tabelarni pregled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Knjige/Dodaj">Dodaj knjigu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/Korpa">Korpa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/IstorijaKupovine">Istorija kupovina</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="Kupovina/ListaZelja">Lista zelja</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h2>Pregled posebne knjige</h2>

        <a class="link-button" href="../Knjige">Nazad</a><br>
        <h4 th:text="${'Ulogovan je: ' + user.userName}"></h4>
        <h5 th:text="${'Tip : ' + user.userType}"></h5>
        <a class="link-button" href="../Korisnici/Logout">Odjavi se</a>

        <div class="create-container">
            <img class="book-cover-readMore" id="book-img" th:src="${book.picture}">
            <h2 id="name" th:text="${book.name}"></h2>
            <p id="author" th:text="${'Autor: ' + book.getAuthor}"></p>
            <p id="isbn" th:text="${'ISBN: ' + book.isbn}"></p>
            <p id="publisher" th:text="${'Izdavacka kuca: ' + book.publisher}"></p>
            <p id="yearOfRelease" th:text="${'Godina izdavanja: ' + book.yearOfRelease}"></p>
            <p id="shortDesc" th:text="${'Opis : ' + book.description}"></p>
            <p id="pages" th:text="${'Broj stranica: ' + book.numOfPages}"></p>
            <p id="cover" th:text="${'Korica: ' + book.typeOfCover}"></p>
            <p id="letter" th:text="${'Pismo: ' + book.letter}"></p>
            <p id="language" th:text="${'Jezik: ' + book.language}"></p>
            <b id="rating" th:text="${'Ocena: ' + book.rating}"></b>
            <h2 class="price" id="bookPrice" th:text="${'Cena: ' + book.price}"></h2>

            <form method="get" action="Izmeni" th:if="${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <br>
                <input type="submit" th:if="${user.isAdmin()}" class="btnSubmit fadeIn fourth" value="Izmeni knjigu">
            </form>

            <form method="get" action="Naruci" th:if="${user.isAdmin()}">
                <br>
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <p>Broj primeraka :<input type="number" name="wantedCopies" value="0"><br>
                    <input type="submit" class="btnSubmit fadeIn fourth" value="Naruci dodatne primerke">
                </p>
            </form>

            <form method="get" action="../Kupovina/DodajUKorpu" th:if="!${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <p>
                    Broj primeraka :<input type="number" name="wantedCopies" value="0" min="0"  th:max="${book.remaining}"><br>
                    <input type="submit" class="btnSubmit fadeIn fourth" value="Dodaj u korpu">
                </p>
            </form>

            <form method="post" action="../Kupovina/DodajUListuZelja" th:if="!${user.isAdmin()}">
                <input type="hidden" name="username" th:value="${user.userName}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input type="submit" class="btnSubmit fadeIn fourth" value="Dodaj u listu zelja">
            </form>

            <form method="get" action="Recenzija" th:if="!${user.isAdmin()}">
                <input type="hidden" name="username" th:value="${user.userName}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input type="submit" class="btnSubmit fadeIn fourth" value="Ostavi recenziju">
            </form>

            <br>
            <div th:each="itComment, status: ${comments}">
                <br>
                <u th:text="${'Ocena: ' + itComment.rating}"></u>
                <i th:text="${itComment.dateOfComment}"></i>
                <h5 th:text="${'Autor: ' + itComment.author.userName}"></h5>
                <p th:text="${itComment.text}"></p>
            </div>
        </div>

    </div>
</body>
</html>