<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
    <div class="read-more-container" th:fragment="centralDiv">
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="../js/localization.js"></script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="title navbar-brand" href="#">Knjigerino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="TabelaKnjiga" th:text="#{bookStore.bookTable}">Tabelarni pregled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="Knjige/Dodaj" th:text="#{bookStore.addBook}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/" th:text="#{bookStore.users}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/LoyaltyZahtevi" th:text="#{bookStore.loyaltyCard}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Komentari/" th:text="#{bookStore.comments}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Kupovina/Izvestaj" th:text="#{bookStore.report}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/Korpa" th:text="#{bookStore.cart}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/IstorijaKupovine" th:text="#{bookStore.history}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="!${user.isAdmin()}" href="../Kupovina/ListaZelja" th:text="#{bookStore.wishList}"></a>
                    </li>
                    <li class="nav-item float-right nav-link">
                        <p><b th:text="${user.userName}"></b></p>
                    </li>
                    <li class="nav-item float-right nav-link">
                        <p><i th:text="${user.userType}"></i></p>
                    </li>
                    <li class="nav-item nav-link" th:if="${user.isAdmin()}">
                        <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                    </li>
                    <li class="nav-item nav-link" th:if="${user.isAdmin()}">
                        <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                    </li>
                    <li class="nav-item nav-link">
                        <a class="nav-link" href="../Korisnici/Logout">Odjavi se</a>
                    </li>
                    <li class="nav-item">
                        <select id="locales" name="locales" class="form-control">
                            <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
                            <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
                        </select>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="create-container">
            <img class="book-cover-readMore" id="book-img" th:src="${book.picture}">
            <h2 id="name" th:text="${book.name}"></h2>
            <p id="author" th:text="#{bookStore.author} + ${book.getAuthor}"></p>
            <p id="isbn" th:text="${'ISBN: ' + book.isbn}"></p>
            <p id="publisher" th:text="#{bookStore.publisher} + ${book.publisher}"></p>
            <p id="yearOfRelease" th:text="#{bookStore.yearOfRelease} + ${book.yearOfRelease}"></p>
            <p id="shortDesc" th:text="#{bookStore.description} + ${book.description}"></p>
            <p id="pages" th:text="#{bookStore.numOfPages} + ${book.numOfPages}"></p>
            <p id="cover" th:text="#{bookStore.cover} + ${book.typeOfCover}"></p>
            <p id="letter" th:text="#{bookStore.letter} + ${book.letter}"></p>
            <p id="language" th:text="#{bookStore.language} + ${book.language}"></p>
            <b id="rating" th:text="#{bookStore.rating} + ${book.rating}"></b>
            <h2 class="price" id="bookPrice" th:text="#{bookStore.price} + ${book.price}"></h2>

            <form method="get" action="Izmeni" th:if="${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input type="submit" th:if="${user.isAdmin()}" class="btnSubmit fadeIn fourth" th:value="#{bookStore.editBook}">
            </form>

            <form method="get" action="../Kupovina/DodajAkciju" th:if="${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input type="submit" th:if="${user.isAdmin()}" class="btnSubmit fadeIn fourth" th:value="#{bookStore.discountBook}">
            </form>

            <form method="get" action="Naruci" th:if="${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <p th:text="#{bookStore.numOfCopies}"></p>
                <input colspan="1" type="number" name="wantedCopies" value="0" min="0"><br>
                <input colspan="1" type="submit" class="btnSubmit fadeIn fourth" th:value="#{bookStore.order}">
            </form>

            <form method="post" action="../Kupovina/DodajUKorpu" th:if="!${user.isAdmin()}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <p th:text="#{bookStore.numOfCopies}"></p>
                <input colspan="1" type="number" name="wantedCopies" value="0" min="0"  th:max="${book.remaining}"><br>
                <input colspan="1" type="submit" class="btnSubmit fadeIn fourth" th:value="#{bookStore.addToCart}">
            </form>

            <form method="post" action="../Kupovina/DodajUListuZelja" th:if="!${user.isAdmin()}">
                <input type="hidden" name="username" th:value="${user.userName}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input type="submit" class="btnSubmit fadeIn fourth" th:value="#{bookStore.wishList}">
            </form>

            <form method="get" action="Recenzija" th:if="!${user.isAdmin()}">
                <input type="hidden" name="username" th:value="${user.userName}">
                <input type="hidden" name="isbn" th:value="${book.isbn}">
                <input th:if="${bought}" type="submit" class="btnSubmit fadeIn fourth" th:value="#{bookStore.leaveComment}">
            </form>

            <br>
            <div th:each="itComment, status: ${comments}">
                <br>
                <u th:text="#{bookStore.grade} + ${itComment.rating}"></u>
                <i th:text="${itComment.dateOfComment}"></i>
                <h5 th:text="#{bookStore.author} + ${itComment.author.userName}"></h5>
                <p th:text="${itComment.text}"></p>
            </div>
        </div>

    </div>
</body>
</html>