<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjizara</title>
</head>
<body>
    <div th:fragment="centralDiv">
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="../css/js/sorttable.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="title navbar-brand" href="#">Knjigerino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../Knjige/TabelaKnjiga" th:text="#{bookStore.bookTable}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Knjige/Dodaj" th:text="#{bookStore.addBook}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Korisnici/" th:text="#{bookStore.users}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="LoyaltyZahtevi" th:text="#{bookStore.loyaltyCard}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:if="${user.isAdmin()}" href="../Komentari/" th:text="#{bookStore.comments}"></a>
                    </li>
                    <li class="nav-item dropdown float-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <i><b>PROFIL</b></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p th:text="${'Ulogovan je: ' + user.userName}"></p>
                            <p th:text="${'Tip : ' + user.userType}"></p>
                            <p th:text="${'Loyalty kartica : ' + user.loyaltyCard.toString()}"></p>
                            <p th:if="${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" th:text="${'Broj poena : ' + user.points}"></p>
                            <form method="post" th:if="!${user.isAdmin()}" action="../Kupovina/LoyaltyReq">
                                <input th:if="!${#strings.equals(user.loyaltyCard.toString(), 'APPROVED')}" type="submit"
                                       class="form-control btnSubmit fadeIn fourth" value="Posalji zahtev za bonus karticu">
                            </form>
                            <div class="dropdown-divider"></div>
                            <a href="../Korisnici/Logout">Odjavi se</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="flex-container">
            <div class="container">
                <table class="table table-sm table-dark sortable">
                    <thead>
                    <tr>
                        <th th:text="#{bookStore.name}"></th>
                        <th th:text="#{bookStore.lastName}"></th>
                        <th th:text="#{bookStore.dateOfBirth}"></th>
                        <th th:text="#{bookStore.username}"></th>
                        <th th:text="#{bookStore.typeOfUser}"></th>
                        <th th:text="#{bookStore.dateOfRegistration}"></th>
                        <th th:text="#{bookStore.view}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="itUser, status: ${users}">
                        <tr>
                            <td class="cart-item-text" th:text="${itUser.name}"></td>
                            <td class="cart-item-text" th:text="${itUser.lastName}"></td>
                            <td class="cart-item-text" th:text="${itUser.dateOfBirth}"></td>
                            <td class="cart-item-text" th:text="${itUser.userName}"></td>
                            <td class="cart-item-text" th:text="${itUser.userType.toString()}"></td>
                            <td class="cart-item-text" th:text="${itUser.dateOfRegistration}"></td>
                            <td>
                                <form method="get" action="Detalji">
                                    <input type="hidden" name="username" th:value="${itUser.userName}">
                                    <input type="submit" class="form-control btnSubmit fadeIn fourth" th:value="#{bookStore.userView}">
                                </form>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
            </form>
        </section>

    </div>
</body>
</html>